<pre>
<%= Cowsay.say("Hello", "Cow") %>
</pre>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="logo">
      <img src="<%= asset_path('logo.png') %>">
    </a>
    <h1>Heather Haas</h1>
    
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-ruby"><span class="glyphicon glyphicon-flash"></span> Getting Started with Ruby</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/ruby-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>
<div class="container">
</div>
